body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('https://i.ytimg.com/vi/LmUYOHnwRE4/maxresdefault.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white; /* Damit der Text besser lesbar ist */
}

h1 {
    color: #ac1818;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

#gameContainer {
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#wordDisplay {
    font-size: 2em;
    margin: 20px 0;
    letter-spacing: 5px;
    color: rgb(252, 252, 252); /* Kontrast gegen den Hintergrund */
}

#attempts {
    font-weight: bold;
    color: red;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 5px;
    margin: 10px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    background-color: #a72828;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}
